@model FireCodesListViewModel
@{
    ViewBag.Title = "Fire Codes";
    Layout = "_AdminLayoutWO";
}
<div class="row" style="padding-right:20px">
    <h2 class="col-sm-10">
        Fire Codes List
    </h2>
    <a class="btn btn-success btn-sm col-sm-2" asp-action="Add" asp-controller="FireCode" style="padding-top:10px;min-width:100px">
        <i class="fa fa-plus"></i>
        New Fire Code
    </a>
</div>
@foreach (var j in Model.FireCodes)
{
    @Html.Partial("FireCodeSummary", j)
}
<br />
<div>
    <form asp-controller="Item" asp-action="ExportToXML" method="post">
        <button class="btn btn-sm " name="buttonXML" value="FireCodes" style="background-color:#DF0174;color:white">Export List to an XML File</button>
    </form>
</div>
<page-all page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
          page-class="btn" page-class-normal="btn-secondary"
          page-class-selected="btn-primary"
          class="btn-group pull-right m-1">
</page-all>
