@model FireCodesListViewModel
@{
    ViewBag.Title = "Fire Codes";
    Layout = "_AdminLayoutWO";
    <script>
        $(document).ready(function () {
            $('#filtrado').autocomplete({
                source: '/FireCode/SearchFireCode'
            });
        });
    </script>
}
  
@if (Model.TotalItems == 0)
{
    <div class="text-right m-2">
        <form asp-action="SeedXML" method="post">
            <button type="submit" name="buttonImportXML" value="FireCode" class="btn btn-danger">Import data from XML <i class="fas fa-file-alt"></i></button>
        </form>
    </div>
}
<a class="btn btn-dark float-right" asp-action="Add" asp-controller="FireCode">
    <i class="fa fa-plus"></i>
    New Fire Code
</a>
<form asp-controller="FireCode" asp-action="List" method="get">
    <div class="input-group" style="padding-top:10px;">
        <input type="text" class="form-control form-control-sm col-5" name="filtrado" id="filtrado" placeholder=" Please enter a FireCode">
        <div class="input-group-append">
            <div class="btn-group">
                <button class="btn btn-dark" type="submit" value="Search">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
                <button class="btn btn-dark" type="submit" name="Sort" value="default">
                    <i class="fas fa-undo" aria-hidden="true"></i>
                </button>
            </div>
        </div>

    </div>
</form>
@foreach (var j in Model.FireCodes)
{
    @Html.Partial("FireCodeSummary", j)
}
<br />
<coool-pagination-searh-all page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
                            page-class="btn" page-class-normal="btn-secondary" sort="Sort"
                            page-class-selected="btn-dark"
                            class="btn-group pull-right m-1">
</coool-pagination-searh-all>
<div>
    <form asp-controller="Item" asp-action="ExportToXML" method="post">
        <button class="btn btn-sm " name="buttonXML" value="FireCodes" style="background-color:steelblue;color:white">Export List to an XML File</button>
    </form>
</div>
