<ul class="nav nav-pills flex-column" id="accordion" role="tablist">
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="Report" asp-action="ManagerDashboard"><i class="fas fa-chart-line"></i>&nbsp;Prodfloor Stats</a>
    </li>
</ul>