@model Starter
@{
    ViewBag.Title = "Edit Starter";
    Layout = "_AdminLayoutWO";
}
<div class="bg-dark m-1 p-1"><h4 style="color:white">Edit Starter Regitry</h4></div>
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="StarterID" />
    <div class="form-group col-4">
        <label asp-for="StarterType" class="col-form-label"></label>
        <div>
            <custom-select select-for="Starter" selected-value="@Model.StarterType" class="form-control-sm form-control" asp-for="StarterType"></custom-select>
            <span asp-validation-for="StarterType" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group col-4">
        <label asp-for="FLA"></label>
        <div><span asp-validation-for="FLA" class="text-danger"></span></div>
        <input asp-for="FLA" class="form-control" />
    </div>
    <div class="form-group col-4">
        <label asp-for="Volts" class="col-form-label"></label>
        <div>
            <starter select-for="Volts" selected-value="@Model.Volts" class="form-control-sm form-control" asp-for="Volts"></starter>
            <span asp-validation-for="Volts" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group col-4">
        <label asp-for="HP"></label>
        <div><span asp-validation-for="HP" class="text-danger"></span></div>
        <input asp-for="HP" class="form-control" />
    </div>
    <div class="form-group col-4">
        <label asp-for="MCPart"></label>
        <div><span asp-validation-for="MCPart" class="text-danger"></span></div>
        <input asp-for="MCPart" class="form-control" />
    </div>
    <div class="form-group col-4">
        <label asp-for="NewManufacturerPart"></label>
        <div><span asp-validation-for="NewManufacturerPart" class="text-danger"></span></div>
        <input asp-for="NewManufacturerPart" class="form-control" />
    </div>
    <div class="form-group col-4">
        <label asp-for="OverloadTable" class="col-form-label"></label>
        <div>
            <starter select-for="OverloadTable" selected-value="@Model.OverloadTable" class="form-control-sm form-control" asp-for="OverloadTable"></starter>
            <span asp-validation-for="OverloadTable" class="text-danger"></span>
        </div>
    </div>
    <div class="text-center col-4">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="List" class="btn btn-secondary">Cancel</a>
    </div>
</form>