@model ProdFloor.Models.ViewModels.PlanningReportListViewModel
@{
    ViewBag.Title = "Morning Custom";
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
}
<br />
<form asp-controller="PlanningReport" asp-action="SearchRowByPO" method="post">
    <div class="container-fluid">
        <label class="col-form-label">Por favor introduzca un PO:</label>
        <div class="input-group">
            <input type="number" class="form-control form-control-sm col-3" id="POSearch" asp-for="POSearch">
            <div class="input-group-append">
                <div class="btn-group text-center">
                    <button class="btn btn-dark" type="submit" value="Search" data-tooltip="tooltip" data-placement="top" title="Search">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                    <a class="btn btn-dark" data-tooltip="tooltip" asp-action="CustomsByPlanning" asp-controller="PlanningReport">
                        <i class="fas fa-undo" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <br />

        <div>
            <span asp-validation-for="POSearch" class="text-danger"></span><br />
        </div>
    </div>

</form>



@if (Model.planningReportRows.Count > 0)
{
    <form asp-action="UpdateCustoms" method="post">
        @Html.Partial("CustomsReady", Model)
    </form>
}
<br />
<br />
<br />
