@model ProdFloor.Models.ViewModels.Testing.StepViewModel
<input type="hidden" asp-for="Step.StepID" />
<div class="form-group row">
    <label asp-for="Step.JobTypeID" class="col-sm-2 col-form-label"></label>
    <div>
        <job-type-select selected-value="@Model.Step.JobTypeID" class="form-control-sm form-control" asp-for="Step.JobTypeID"></job-type-select>
        <span asp-validation-for="Step.JobTypeID" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="Step.Stage" class="col-sm-2 col-form-label"></label>
    <div>
        <custom-select selected-value="@Model.Step.Stage" class="form-control-sm form-control" asp-for="Step.Stage" select-for="Stage"></custom-select>
        <span asp-validation-for="Step.Stage" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="Step.ExpectedTime" class="col-sm-2 col-form-label"></label>
    <div>
        <input asp-for="Step.ExpectedTime" class="form-control col-sm-11" />
        <span asp-validation-for="Step.ExpectedTime" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="Step.Description" class="col-sm-2 col-form-label"></label>
    <div>
        <textarea asp-for="Step.Description" class="form-control col-sm-15" rows="4"></textarea>
        <span asp-validation-for="Step.Description" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="Step.Order" class="col-sm-2 col-form-label"></label>
    <div>
        <input asp-for="Step.Order" class="form-control col-sm-15" />
        <span asp-validation-for="Step.Order" class="text-danger"></span>
    </div>
</div>