@model WiringOption
@{
    ViewBag.Title = "Edit WiringOption";

}
<div class="bg-dark m-1 p-1"><h4 style="color:white">Edit WiringOption:</h4></div>
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="WiringOptionID" />
    <input type="hidden" asp-for="isDeleted"/>
    <div class="form-group">
        <label asp-for="Description" class="col-2 col-form-label"></label>
        <div>
            <input value="@Model.Description" class="form-control col-4" asp-for="Description" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div>
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="List" class="btn btn-secondary">Cancel</a>
    </div>
</form>