@model AdminNavMenuViewModel
    <ul class="nav nav-pills flex-column" id="accordion" role="tablist">
        <li class="nav-item nav">
            <a class="nav-link  text-light" asp-controller="Home" asp-action="EngineerChartsDashBoard"><i class="fas fa-chart-line"></i>&nbsp;Engineer Charts</a>
        </li>
        <li class="nav-item nav">
            <a class="nav-link  text-light" asp-controller="Home" asp-action="SuperUserDashBoard"><i class="fas fa-crown"></i>&nbsp;Super User</a>
        </li>
        <li class="nav-item" role="tab" id="JobSearch">
            <a data-toggle="collapse" href="#collapseJobSearch" role="button" aria-expanded="false" aria-controls="collapseJobSearch"
               class="nav-link text-light"><i class="fas fa-briefcase"></i>&nbsp; Job Search</a>
            <ul id="collapseJobSearch" class="collapse" role="tabpanel" aria-labelledby="collapseJobSearch" data-parent="#accordion">
                <li class="nav-link"
                    style="padding:4px;text-align:center;margin-bottom:5px;background-color:steelblue">
                    <a style="color:white" asp-controller="Job" asp-action="List" asp-route-JobTypeName="M2000">M2000</a>
                </li>
                <li class="nav-link"
                    style="padding:4px;text-align:center;margin-bottom:5px;background-color:steelblue">
                    <a style="color:white" asp-controller="Job" asp-action="ElementList" asp-route-JobTypeName="ElmTract">Element Traction</a>
                </li>
                <li class="nav-link"
                    style="padding:4px;text-align:center;margin-bottom:5px;background-color:steelblue">
                    <a style="color:white" asp-controller="Job" asp-action="ElementList" asp-route-JobTypeName="ElmHydro">Element Hydro</a>
                </li>
            </ul>
        </li>
        <li class="nav-item" role="tab" id="dooroperators">
            <a id="doors" asp-action="List" asp-controller="DoorOperator" asp-route-brand="" asp-route-Page="1" class="nav-link text-light"><i class="fas fa-door-open"></i>&nbsp; Door Operators</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-controller="FireCode" asp-action="List"><i class="fas fa-fire"></i>&nbsp; Fire Codes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-controller="JobType" asp-action="List"><i class="fas fa-book"></i>&nbsp; Job Types</a>
        </li>
        <li class="nav-item" role="tab" id="landing">
            <a asp-action="List" asp-controller="LandingSystem" asp-route-jobType="" asp-route-jobPage="1" class="nav-link text-light"><i class="fas fa-plane-arrival"></i>&nbsp; Landing Systems</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-controller="Country" asp-action="List"><i class="fas fa-globe"></i>&nbsp; Countries</a>
        </li>
        <li class="nav-item" role="tab" id="state">
            <a asp-action="List" asp-controller="State" asp-route-country="" asp-route-Page="1" class="nav-link text-light"><i class="fas fa-globe-americas"></i>&nbsp; States</a>
        </li>

        <li class="nav-item" role="tab" id="city">
            <a asp-action="List" asp-controller="City" asp-route-country="" asp-route-state="" asp-route-Page="1" class="nav-link text-light"><i class="fas fa-city"></i>&nbsp; Cities</a>
        </li>
        <li class="nav-item" role="tab" id="custom">
            <a asp-action="List" asp-controller="CustomSoftware" asp-route-Page="1" class="nav-link text-light"><i class="fas fa-download"></i>&nbsp; Custom Software</a>
        </li>
        <li class="nav-item" role="tab" id="Tables">
            <a data-toggle="collapse" href="#collapseTables" role="button" aria-expanded="false" aria-controls="collapseTables"
               class="nav-link text-light"><i class="fas fa-book-reader"></i>&nbsp; Engineer Refererences</a>
            <ul id="collapseTables" class="collapse" role="tabpanel" aria-labelledby="collapseTables" data-parent="#accordion">
                <li class="nav-link"
                    style="padding:4px;text-align:center;margin-bottom:5px;background-color:steelblue">
                    <a style="color:white" asp-action="List"
                       asp-controller="SlowDown"
                       asp-route-Page="1">Slowdown Table</a>
                </li>
                <li class="nav-link"
                    style="padding:4px;text-align:center;margin-bottom:5px;background-color:steelblue">
                    <a style="color:white" asp-action="List"
                       asp-controller="WireTypesSize"
                       asp-route-Page="1">Wire Types Size Table</a>
                </li>
                <li class="nav-link"
                    style="padding:4px;text-align:center;margin-bottom:5px;background-color:steelblue">
                    <a style="color:white" asp-action="List"
                       asp-controller="Starter"
                       asp-route-Page="1">Starter Table</a>
                </li>
                <li class="nav-link"
                    style="padding:4px;text-align:center;margin-bottom:5px;background-color:steelblue">
                    <a style="color:white" asp-action="List"
                       asp-controller="Overload"
                       asp-route-Page="1">Overload Table</a>
                </li>
            </ul>
        </li>
        <li class="nav-item" role="tab" id="Steps">
            <a data-toggle="collapse" href="#collapseSteps" role="button" aria-expanded="false" aria-controls="collapseSteps"
               class="nav-link text-light"><i class="fas fa-charging-station"></i>&nbsp; Testing</a>
            <ul id="collapseSteps" class="collapse" role="tabpanel" aria-labelledby="collapseSteps" data-parent="#accordion">
                <li class="nav-link"
                    style="padding:4px;text-align:center;margin-bottom:5px;background-color:steelblue">
                    <a style="color:white" asp-action="SearchTestJob"
                       asp-controller="TestJob">Test Job</a>
                </li>
                <li class="nav-link"
                    style="padding:4px;text-align:center;margin-bottom:5px;background-color:steelblue">
                    <a style="color:white" asp-action="List" asp-route-ElmHydroPage="1" asp-route-M2000Page="1" asp-route-ElmTractionPage="1" asp-route-M4000Page="1"
                       asp-controller="Step" asp-route-JobTypeName="Traction">Steps</a>
                </li>
                <li class="nav-link"
                    style="padding:4px;text-align:center;margin-bottom:5px;background-color:steelblue">
                    <a style="color:white" asp-action="List"
                       asp-controller="Station"
                       asp-route-Page="1">Stations</a>
                </li>
                <li class="nav-link"
                    style="padding:4px;text-align:center;margin-bottom:5px;background-color:steelblue">
                    <a style="color:white"
                       asp-controller="Stop"
                       asp-route-stop=""
                       asp-route-Page="1" asp-action="List">Stops</a>
                </li>
            </ul>
        </li>
        <li class="nav-item" role="tab" id="Reasons">
            <a data-toggle="collapse" href="#collapseReasons" role="button" aria-expanded="false" aria-controls="collapseReasons"
               class="nav-link text-light"><i class="fas fa-clipboard-list"></i>&nbsp; Reasons</a>
            <form asp-controller="Reasons" asp-action="List" asp-route-Page="1" method="get">
                <ul id="collapseReasons" class="collapse" role="tabpanel" aria-labelledby="collapseReasons" data-parent="#accordion">
                    <li class="nav-link"
                        style="padding:4px;text-align:center;margin-bottom:5px;background-color:steelblue">
                        <button class="btn btn-sm btn-link" style="color:white" asp-action="Reason1List" asp-controller="Reasons" asp-route-Page="1" asp-route-ReasonNumber="1">Reasons 1</button>
                    </li>
                    <li class="nav-link"
                        style="padding:4px;text-align:center;margin-bottom:5px;background-color:steelblue">
                        <button class="btn btn-sm btn-link" style="color:white" asp-action="Reason2List" asp-controller="Reasons" asp-route-Page="1" asp-route-ReasonNumber="2">Reasons 2</button>
                    </li>
                    <li class="nav-link"
                        style="padding:4px;text-align:center;margin-bottom:5px;background-color:steelblue">
                        <button class="btn btn-sm btn-link" style="color:white" asp-action="Reason3List" asp-controller="Reasons" asp-route-Page="1" asp-route-ReasonNumber="3">Reasons 3</button>
                    </li>
                    <li class="nav-link"
                        style="padding:4px;text-align:center;margin-bottom:5px;background-color:steelblue">
                        <button class="btn btn-sm btn-link" style="color:white" asp-action="Reason4List" asp-controller="Reasons" asp-route-Page="1" asp-route-ReasonNumber="4">Reasons 4</button>
                    </li>
                    <li class="nav-link"
                        style="padding:4px;text-align:center;margin-bottom:5px;background-color:steelblue">
                        <button class="btn btn-sm btn-link" style="color:white" asp-action="Reason5List" asp-controller="Reasons" asp-route-Page="1" asp-route-ReasonNumber="5">Reasons 5</button>
                    </li>
                </ul>
            </form>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-controller="Account" asp-action="Index"><i class="fas fa-user-tie"></i>&nbsp; Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-controller="RoleAdmin" asp-action="Index"><i class="fas fa-users"></i>&nbsp; Roles</a>
        </li>
    </ul>