@model CountryListViewModel
@{
    ViewBag.Title = "Countries";
    Layout = "_AdminLayoutWO";
}
<div class="row" style="float:right;padding-top:5px;padding-right:15px">
    <a class="btn btn-primary" asp-action="Add" asp-controller="Country">
        <i class="fa fa-plus"></i>
        New Country
    </a>
</div>
@if (Model.Countries.Count() == 0)
{
    <div class="text-right m-2">
        <form asp-action="SeedXML" method="post">
            <button type="submit" name="buttonImportXML" value="Country" class="btn btn-danger">Import data from XML <i class="fas fa-file-alt"></i></button>
        </form>
    </div>
}
<br />
<br />
@foreach (var j in Model.Countries)
{
    @Html.Partial("CountrySummary", j)
}
<br />

<coool-pagination-all page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
                      page-class="btn" page-class-normal="btn-secondary"
                      page-class-selected="btn-dark"
                      class="btn-group pull-right m-1">
</coool-pagination-all>
<div>
    <form asp-controller="Item" asp-action="ExportToXML" method="post">
        <button class="btn btn-sm " name="buttonXML" value="Countries" style="background-color:steelblue;color:white">Export List to an XML File</button>
    </form>
</div>
