@model CountryListViewModel
@{
    ViewBag.Title = "Countries";
    Layout = "_AdminLayoutWO";
}
<div class="row" style="padding-right:20px">
    <h2 class="col-sm-10">
        Countries List
    </h2>
    <a class="btn btn-success btn-sm col-sm-2" asp-action="Add" asp-controller="Country" style="padding-top:10px;min-width:100px">
        <i class="fa fa-plus"></i>
        New Country
    </a>
</div>
<br />

@foreach (var j in Model.Countries)
{
    @Html.Partial("CountrySummary", j)
}
<br />
<div>
    <a class="btn btn-sm  " style="background-color:#DF0174;color:white" asp-action="ExportToXML" asp-controller="Country">Export List to an XML File</a>
</div>
<page-doorop page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-secondary"
     page-class-selected="btn-primary"
     class="btn-group pull-right m-1">
</page-doorop>
