<ul class="nav nav-pills flex-column" id="accordion" role="tablist">
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="PlanningReport" asp-action="NewPrintable"><i class="fas fa-print"></i>&nbsp;Printables</a>
    </li>
</ul>