@model ProdFloor.Models.ViewModels.Job.CustomSoftwareViewModel
<input type="hidden" asp-for="CustomSoftware.CustomSoftwareID" />
<div class="form-group box-shadow">
    <label asp-for="CustomSoftware.Description" class="col-form-label"></label>
    <div>
        <textarea asp-for="CustomSoftware.Description"class="form-control box-shadow" rows="3"></textarea>
        <span asp-validation-for="CustomSoftware.Description" class="text-danger"></span>
    </div>
</div>