<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet"
          asp-href-include="/lib/bootstrap/dist/**/*.min.css"
          asp-href-exclude="**/*-reboot*,**/*-grid*" />
    <link href="~/lib/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="\">ProdFloor</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="\">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="\Page1\">All Jobs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Job" asp-action="MyjobsList">My Jobs</a>
                    </li>
                    @*<li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown link
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>*@
                </ul>
            </div>
            <div class="nav navbar-nav navbar-right">
                <ul class="navbar-nav">
                    @if (!User.Identity.IsAuthenticated)
                {

                    <li class="nav-item">
                        <a href="\Account\LogIn">
                            Login <i class="fa fa-sign-in"></i>
                        </a>
                    </li>
            }
            else
            {
                <li class="nav-item"><a class="nav-link">Hello, @User.Identity.Name</a></li>
                <li class="nav-item"><a class="nav-link" href="\Account\LogOut"> Log out <span class="fa fa-sign-out"></span></a></li>
        }
                </ul>
            </div>
        </nav>
    </header>
    <br />
    <br />
    <br />
    <div class="container-fluid">
        <div class="row">
            <nav class="col-sm-2 col-md-2 d-none d-sm-block bg-light sidebar">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="\">Dashboard<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Reports</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Analytics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Export</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Jobs Lookup</a>
                    </li>
                </ul>
            </nav>

            <main role="main" class="col-sm-10 ml-sm-auto col-md-10 pt-3">
                @RenderBody()
            </main>
        </div>
    </div>
</body>
</html>
