<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script>$(document).ready(function () { $('[data-tooltip="tooltip"]').tooltip(); });</script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Bootstrap core JavaScript -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jQuery-Knob/dist/jquery.knob.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link href="~/lib/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="~/css/DashBoard.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body style="padding-top:0px !important">
    <h2 class="text-center" style="margin-bottom:10px;"></h2>
    <div class="container-fluid">
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.slim.js"></script>
    <script src="~/lib/bootstrap/assets/js/vendor/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
