<ul class="nav nav-pills flex-column" id="accordion" role="tablist">
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="Wiring" asp-action="ProductionAdminDash"><i class="fas fa-chart-line"></i>&nbsp;Dashboard</a>
    </li>
</ul>