@model ProdFloor.Models.ViewModels.TestJob.TestJobViewModel
@{
    ViewBag.Title = "Test Jobs";
    Layout = "_AdminLayoutWO";
}
<div class="row" style="padding-right:20px">
    <h2 class="col-sm-10">
        My Test Jobs
    </h2>
    <a class="btn btn-success  col-sm-2" asp-action="NewTestJob" asp-controller="TestJob" style="padding-top:10px;min-width:100px">
        <i class="fa fa-plus"></i>
        New Test Job
    </a>
</div>
<br /><br />
@foreach (var j in Model.TestJobList)
{
    @Html.Partial("TestJobSummary", j)
}
<div page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-secondary"
     page-class-selected="btn-primary" 
     class="btn-group pull-right m-1">
</div>
