@model ProdFloor.Models.ViewModels.TestJob.TestJobViewModel
@{
    ViewBag.Title = "Test Jobs";
    Layout = "_AdminLayoutWO";
}
<div class="row" style="padding-right:20px">
    <h2 class="col-sm-10">
        My Test Jobs
    </h2>
    @if (!(User.IsInRole("Technician")))
    {
        <div class="btn-group" style="padding-right:50px;">
            <a class="btn btn-dark col-sm-" asp-action="TestJobSearchList" asp-controller="TestJob" style="padding-top:10px;min-width:100px">
                <i class="fa fa-search" aria-hidden="true"></i>
                TestJob Search List
            </a>
            <a class="btn btn-success  col-sm-2" asp-action="NewTestJob" asp-controller="TestJob" style="padding-top:10px;min-width:100px">
                <i class="fa fa-plus"></i>
                New Test Job
            </a>
        </div>
    }
</div>
<br /><br />

@Html.Partial("TestJobSummary", Model)

@if (Model.TestJobList.Count > 0)
{
    <coool-pagination-all page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
                          page-class="btn" page-class-normal="btn-secondary"
                          page-class-selected="btn-dark"
                          class="btn-group pull-right m-1">
    </coool-pagination-all>
}

