@model ProdFloor.Models.ViewModels.TestJob.TestJobViewModel
@{
    ViewBag.Title = "Search Job";
    Layout = "_AdminLayoutWO";

}
<div class="row" style="padding-right:20px">
    <h2 class="col-sm-10">Jobs to Test</h2>
</div>
<br />
<form asp-controller="TestJob" asp-action="SearchJob" method="post">
    <div class="input-group">
        <input type="text" class="form-control form-control-sm col-5" asp-for="POJobSearch" placeholder="Por favor introduzca un PO">
        <div class="input-group-append">
            <button class="btn btn-dark" type="submit" value="Search">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <br />
    <div>
        <span asp-validation-for="POJobSearch" class="text-danger"></span><br />
    </div>
</form>


