@model ProdFloor.Models.ViewModels.TestJob.TestJobViewModel
@{
    ViewBag.Title = "Search Job";
    Layout = "_AdminLayoutWO";
    <script>
        $(document).ready(function () {
            $('#JobNum').autocomplete({
                source: '/TestJob/SearchJobNum'
            });
        });
    </script>
}

<div class="row" style="padding-right:20px">
    <h2 class="col-sm-10">Admin Dashboard</h2>
</div>
<br />
<form asp-controller="TestJob" asp-action="SearchTestJob" method="post">
    <div class="input-group">

        <input type="text" class="form-control form-control-sm col-5" asp-for="Job.JobNum" id="JobNum" placeholder=" Please enter a Job Number">
        <div class="input-group-append">
            <button class="btn btn-dark" type="submit" value="Search">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </div>

    </div>
</form>
<br />
<div>
    <span asp-validation-for="Job.JobNum" class="text-danger"></span><br />
</div>
@Html.Partial("TechAdminDashBoard", Model)



