@model ProdFloor.Models.ViewModels.TestJob.TestJobViewModel
@{
    ViewBag.Title = "Search Job";
    <script>
        $(document).ready(function () {
            $('#JobNum').autocomplete({
                source: '/TestJob/SearchJobNum'
            });
        });
    </script>
}
<form asp-controller="TestJob" asp-action="SearchTestJob" method="get">
    <div class="input-group" style="padding-top:20px">

        <input type="text" class="form-control form-control-sm col-5" name="jobNumber" id="JobNum" value="@Model.PagingInfoWorkingOnIt.JobNumb" placeholder=" Please enter a Job Number">
        <div class="input-group-append">
            <div class="btn-group">
                <button class="btn btn-dark" type="submit" value="Search" data-tooltip="tooltip" data-placement="top" title="Search">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
                <button class="btn btn-dark" type="submit" name="Clean" value="true" data-tooltip="tooltip" data-placement="top" title="Search">
                    <i class="fas fa-undo" aria-hidden="true"></i>
                </button>
            </div>
        </div>

    </div>
</form>
<div>
    <span asp-validation-for="Job.JobNum" class="text-danger"></span><br />
</div>
<div>
    <a class="btn btn-sm btn-secondary float-right" asp-action="AutomaticShiftEnd" asp-controller="TestJob">
       Shift End
    </a>
</div>
<!--incomplete, working on it and stops-->
@Html.Partial("TechAdminDashBoard3", Model)
<br />
<br />
<!--Completed-->
@Html.Partial("TechAdminDashBoard2", Model)
<br />
<br />
@Html.Partial("TechAdminDashBoard", Model)
<br />



