@model ProdFloor.Models.ViewModels.Wiring.WiringViewModel
@{
    ViewBag.Title = "Search Job";

}
<br />
<form asp-action="SaveFeatures" method="post">
<div class="row">
    <div class="col-8">
         @Html.Partial("FeatureList", Model)
    </div>
</div>
<div class="text-center">
    <div class="btn-group">
        <button type="submit" class="btn btn-lg btn-info">Guardar</button>
        <a asp-action="AddFeature" class="btn btn-lg btn-success"
            asp-route-Id="@Model.Wiring.WiringID">
            Añadir Error
         </a>
            <a class="btn btn-lg btn-secondary" asp-action="List">Regresar</a>
        </div>
    </div>
</form>