@model ProdFloor.Models.ViewModels.TestJob.TestJobSearchViewModel
@{
    ViewBag.Title = "Stop Search List";
    Layout = "_AdminLayoutWO";

    <script src="~/Scripts/CascadingR1R2R3R4R5Edit.js" type="text/javascript"></script>
}
<div class="row" style="padding-right:20px">
    <h2 class="col-sm-10"> Stop List</h2>
</div>
<br />
<form asp-controller="Stop" asp-action="StopSearchList" method="get">

    @Html.Partial("StopSearchForm", Model)

</form>
<br />
<br />
@if (Model.StopList.Count > 0)
{
    <div class="row" style="padding-right:20px">
        <h4 class="col-sm-10 text-dark">List Of Jobs Found</h4>
    </div>

    @Html.Partial("StopJobSummary", Model)

    <coool-pagination-search page-model="@Model.PagingInfo" page-action="StopSearchList" page-classes-enabled="true"
                          page-class="btn" page-class-normal="btn-secondary"
                          page-class-selected="btn-dark"
                          class="btn-group pull-right m-1">
    </coool-pagination-search>
}