@*model EngineerNavMenuViewModel*@
<h5>@ViewBag.SelectedNavigation</h5>
<ul class="nav nav-pills flex-column" id="accordion" role="tablist">
    <li class="nav-item">
        <a class="nav-link text-light" href="\"><i class="far fa-chart-bar"></i>&nbsp; Engineer Dashboard<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item nav">
        <a class="nav-link  text-light" asp-controller="Home" asp-action="EngineerAdminDashBoard"><i class="fas fa-chart-line"></i>&nbsp; Admin Dashboard</a>
    </li>
    <li class="nav-item nav">
        <a class="nav-link  text-light" asp-controller="Home" asp-action="MorningDashBoard"><i class="fas fa-mug-hot"></i>&nbsp; Morning</a>
    </li>
    @if (User.IsInRole("EngAdmin"))
    {
        <li class="nav-item nav">
            <a class="nav-link  text-light" asp-controller="Home" asp-action="MorningDashBoard" asp-route-isEngAdmin="true"><i class="fas fa-coffee"></i>&nbsp; Admin Morning</a>
        </li>
    }
    <li class="nav-item" role="tab" id="JobSearch">
        <a data-toggle="collapse" href="#collapseJobSearch" role="button" aria-expanded="false" aria-controls="collapseJobSearch"
           class="nav-link text-light"><i class="fas fa-briefcase"></i>&nbsp; Job Search</a>
        <ul id="collapseJobSearch" class="collapse" role="tabpanel" aria-labelledby="collapseJobSearch" data-parent="#accordion">
            <li class="nav-link"
                style="padding:4px;text-align:center;margin-bottom:5px;background-color:steelblue;width: 90%">
                <a style="color:white" asp-controller="Job" asp-action="List" asp-route-JobTypeName="M2000">M2000</a>
            </li>
            <li class="nav-link"
                style="padding:4px;text-align:center;margin-bottom:5px;background-color:steelblue;width: 90%">
                <a style="color:white" asp-controller="Job" asp-action="ElementList" asp-route-JobTypeName="ElmTract">Element Traction</a>
            </li>
            <li class="nav-link"
                style="padding:4px;text-align:center;margin-bottom:5px;background-color:steelblue;width: 90%">
                <a style="color:white" asp-controller="Job" asp-action="ElementList" asp-route-JobTypeName="ElmHydro">Element Hydro</a>
            </li>
        </ul>
    </li>

    @if (User.IsInRole("EngAdmin"))
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-controller="Account" asp-action="Index"><i class="fas fa-user-tie"></i>&nbsp; Engineers</a>
        </li>
    }
</ul>
