@model JobViewModel
<input type="hidden" asp-for="CurrentHoistWayData.JobID" />
<input type="hidden" asp-for="CurrentHoistWayData.HoistWayDataID" />
<div class="form-group row has-warning has-feedback">
    <label asp-for="CurrentHoistWayData.Capacity" class="col-sm-2 col-form-label"></label>
    <div>
        <input asp-for="CurrentHoistWayData.Capacity" class="form-control col-sm-7" />
        <span asp-validation-for="CurrentHoistWayData.Capacity" class="text-danger"></span>
    </div>
</div>
<div class="form-group row has-warning has-feedback">
    <label asp-for="CurrentHoistWayData.UpSpeed" class="col-sm-2 col-form-label"></label>
    <div>
        <input asp-for="CurrentHoistWayData.UpSpeed" class="form-control col-sm-7" />
        <span asp-validation-for="CurrentHoistWayData.UpSpeed" class="text-danger"></span>
    </div>
</div>
<div class="form-group row has-warning has-feedback">
    <label asp-for="CurrentHoistWayData.DownSpeed" class="col-sm-2 col-form-label"></label>
    <div>
        <input asp-for="CurrentHoistWayData.DownSpeed" class="form-control col-sm-7" />
        <span asp-validation-for="CurrentHoistWayData.DownSpeed" class="text-danger"></span>
    </div>
</div>
<div class="form-group row has-warning has-feedback">
    <label asp-for="CurrentHoistWayData.TotalTravel" class="col-sm-2 col-form-label"></label>
    <div>
        <input asp-for="CurrentHoistWayData.TotalTravel" class="form-control col-sm-7" />
        <span asp-validation-for="CurrentHoistWayData.TotalTravel" class="text-danger"></span>
    </div>
</div>
<div class="form-group row has-warning has-feedback">
    <label asp-for="CurrentHoistWayData.LandingSystemID" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <select asp-for="CurrentHoistWayData.LandingSystemID" asp-items="@(new SelectList(@ViewBag.LandingSysList,"LandingSystemID","Name"))"></select>
        <span asp-validation-for="CurrentHoistWayData.LandingSystemID" class="text-danger"></span>
    </div>
</div>
<center></center>
<table class="table table-bordered form-group" style="width:250px">
    <thead class="thead-dark">
        <tr>
            <th class="col-sm-2" scope="col"><center>Landing #</center></th>
            <th class="col-sm-2" scope="col">Front</th>
            <th class="col-sm-2" scope="col">Rear</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"><center>16</center></th>
            <td><input asp-for="CurrentHoistWayData.FrontSixteenthServed" class="form-control" /></td>
            <td><input asp-for="CurrentHoistWayData.RearSixteenthServed" class="form-control" /></td>
        </tr>
        <tr>
            <th scope="row"><center>15</center></th>
            <td><input asp-for="CurrentHoistWayData.FrontFifteenthServed" class="form-control" /></td>
            <td><input asp-for="CurrentHoistWayData.RearFifteenthServed" class="form-control" /></td>
        </tr>
        <tr>
            <th scope="row"><center>14</center></th>
            <td><input asp-for="CurrentHoistWayData.FrontFourteenthServed" class="form-control" /></td>
            <td><input asp-for="CurrentHoistWayData.RearFourteenthServed" class="form-control" /></td>
        </tr>
        <tr>
            <th scope="row"><center>13</center></th>
            <td><input asp-for="CurrentHoistWayData.FrontThirteenthServed" class="form-control" /></td>
            <td><input asp-for="CurrentHoistWayData.RearThirteenthServed" class="form-control" /></td>
        </tr>
        <tr>
            <th scope="row"><center>12</center></th>
            <td><input asp-for="CurrentHoistWayData.FrontTwelvethServed" class="form-control" /></td>
            <td><input asp-for="CurrentHoistWayData.RearTwelvethServed" class="form-control" /></td>
        </tr>
        <tr>
            <th scope="row"><center>11</center></th>
            <td><input asp-for="CurrentHoistWayData.FrontEleventhServed" class="form-control" /></td>
            <td><input asp-for="CurrentHoistWayData.RearEleventhServed" class="form-control" /></td>
        </tr>
        <tr>
            <th scope="row"><center>10</center></th>
            <td><input asp-for="CurrentHoistWayData.FrontTenthServed" class="form-control" /></td>
            <td><input asp-for="CurrentHoistWayData.RearTenthServed" class="form-control" /></td>
        </tr>
        <tr>
            <th scope="row"><center>9</center></th>
            <td><input asp-for="CurrentHoistWayData.FrontNinthServed" class="form-control" /></td>
            <td><input asp-for="CurrentHoistWayData.RearNinthServed" class="form-control" /></td>
        </tr>
        <tr>
            <th scope="row"><center>8</center></th>
            <td><input asp-for="CurrentHoistWayData.FrontEightServed" class="form-control" /></td>
            <td><input asp-for="CurrentHoistWayData.RearEightServed" class="form-control" /></td>
        </tr>
        <tr>
            <th scope="row"><center>7</center></th>
            <td><input asp-for="CurrentHoistWayData.FrontSeventhServed" class="form-control" /></td>
            <td><input asp-for="CurrentHoistWayData.RearSeventhServed" class="form-control" /></td>
        </tr>
        <tr>
            <th scope="row"><center>6</center></th>
            <td><input asp-for="CurrentHoistWayData.FrontSexthServed" class="form-control" /></td>
            <td><input asp-for="CurrentHoistWayData.RearSexthServed" class="form-control" /></td>
        </tr>
        <tr>
            <th scope="row"><center>5</center></th>
            <td><input asp-for="CurrentHoistWayData.FrontFifthServed" class="form-control" /></td>
            <td><input asp-for="CurrentHoistWayData.RearFifthServed" class="form-control" /></td>
        </tr>
        <tr>
            <th scope="row"><center>4</center></th>
            <td><input asp-for="CurrentHoistWayData.FrontFourthServed" class="form-control" /></td>
            <td><input asp-for="CurrentHoistWayData.RearFourthServed" class="form-control" /></td>
        </tr>
        <tr>
            <th scope="row"><center>3</center></th>
            <td><input asp-for="CurrentHoistWayData.FrontThirdServed" class="form-control" /></td>
            <td><input asp-for="CurrentHoistWayData.RearThirdServed" class="form-control" /></td>
        </tr>
        <tr>
            <th scope="row"><center>2</center></th>
            <td><input asp-for="CurrentHoistWayData.FrontSecondServed" class="form-control" /></td>
            <td><input asp-for="CurrentHoistWayData.RearSecondServed" class="form-control" /></td>
        </tr>
        <tr>
            <th scope="row"><center>1</center></th>
            <td><input asp-for="CurrentHoistWayData.FrontFirstServed" class="form-control" /></td>
            <td><input asp-for="CurrentHoistWayData.RearFirstServed" class="form-control" /></td>
        </tr>
    </tbody>
</table>