@model Job
<input type="hidden" asp-for="JobID" />
<div class="form-group row">
    <label asp-for="Name" class="col-sm-2 col-form-label"></label>
    <div>
        <input asp-for="Name" class="form-control col-sm-7" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="JobNum" class="col-sm-2 col-form-label"></label>
    <div>
        <input asp-for="JobNum" class="form-control col-sm-7" />
        <span asp-validation-for="JobNum" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="JobTypeID" class="col-sm-2 col-form-label"></label>
    <div>
        <job-type-select selected-value="@Model.JobTypeID" asp-for="JobTypeID"></job-type-select>
        <span asp-validation-for="JobTypeID" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="PO" class="col-sm-2 col-form-label"></label>
    <div>
        <input asp-for="PO" class="form-control col-sm-7" />
        <span asp-validation-for="PO" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="ShipDate" class="col-sm-2 col-form-label"></label>
    <div>
        <input asp-for="ShipDate" class="form-control col-sm-15" />
        <span asp-validation-for="ShipDate" class="text-danger"></span>
    </div>

</div>
<div class="form-group row">
    <label asp-for="LatestFinishDate" class="col-sm-2 col-form-label"></label>
    <div>
        <input asp-for="LatestFinishDate" class="form-control col-sm-15" />
        <span asp-validation-for="LatestFinishDate" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="Cust" class="col-sm-2 col-form-label"></label>
    <div>
        <input asp-for="Cust" class="form-control col-sm-7" />
        <span asp-validation-for="Cust" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="Contractor" class="col-sm-2 col-form-label"></label>
    <div>
        <input asp-for="Contractor" class="form-control col-sm-7" />
        <span asp-validation-for="Contractor" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="CityID" class="col-sm-2 col-form-label"></label>
    <div>
        <city-select selected-value="@Model.CityID" asp-for="CityID"></city-select>
        <span asp-validation-for="CityID" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="FireCodeID" class="col-sm-2 col-form-label"></label>
    <div>
        <fire-code-select selected-value="@Model.FireCodeID" asp-for="FireCodeID"></fire-code-select>
        <span asp-validation-for="FireCodeID" class="text-danger"></span>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $("#StateID").prop("disabled", true);
        });
    </script>
    <script>
        $(function () {
            $("#CountryID").change(function () {
                var selectedContinent = $("#CountryID").val();
                var coutriesSelectObject = $('#StateID');
                coutriesSelectObject.empty();
                if (selectedContinent != null && selectedContinent != '') {
                    $.ajax({
                        type: 'GET',
                        url: '/Job/GetJobState',
                        contentType: "applications/json",
                        data: {
                            CountryID: selectedContinent
                        },
                        success: function (data) {
                            $("#StateID").prop("disabled", false);
                            $.each(data, function (idx, country) {
                                coutriesSelectObject.append('<option value="' + country.value + '">' + country.text + '</option>');
                            });
                        },
                        error: function (exc) {
                            alert("error");
                        }
                    });
                }
            });
        });
    </script>
}