@model JobViewModel
<input type="hidden" asp-for="CurrentJob.JobID" />
<input type="hidden" asp-for="CurrentJob.Status" />
<input type="hidden" asp-for="CurrentJob.EngID" />
<div class="form-group row">
    <label asp-for="CurrentJob.Name" class="col-sm-2 col-form-label"></label>
    <div>
        <input asp-for="CurrentJob.Name" class="form-control col-sm-7" />
        <span asp-validation-for="CurrentJob.Name" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="CurrentJob.JobTypeID" class="col-sm-2 col-form-label"></label>
    <div>
        <job-type-select selected-value="@Model.CurrentJob.JobTypeID" asp-for="CurrentJob.JobTypeID"></job-type-select>
        <span asp-validation-for="CurrentJob.JobTypeID" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="CurrentJob.JobNum" class="col-sm-2 col-form-label"></label>
    <div>
        <input asp-for="CurrentJob.JobNum" class="form-control" style="width:auto" />
        <span asp-validation-for="CurrentJob.JobNum" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="CurrentJob.PO" class="col-sm-2 col-form-label"></label>
    <div>
        <input asp-for="CurrentJob.PO" class="form-control col-sm-7" />
        <span asp-validation-for="CurrentJob.PO" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="CurrentJob.ShipDate" class="col-sm-2 col-form-label"></label>
    <div><span asp-validation-for="CurrentJob.ShipDate" class="text-danger"></span></div>
    <input asp-for="CurrentJob.ShipDate" class="form-control col-sm-7" />
</div>
<div class="form-group row">
    <label asp-for="CurrentJob.LatestFinishDate" class="col-sm-2 col-form-label"></label>
    <div>
        <input asp-for="CurrentJob.LatestFinishDate" class="form-control col-sm-7" />
        <span asp-validation-for="CurrentJob.LatestFinishDate" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="CurrentJob.Cust" class="col-sm-2 col-form-label"></label>
    <div>
        <input asp-for="CurrentJob.Cust" class="form-control col-sm-7" />
        <span asp-validation-for="CurrentJob.Cust" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="CurrentJob.Contractor" class="col-sm-2 col-form-label"></label>
    <div>
        <input asp-for="CurrentJob.Contractor" class="form-control col-sm-7" />
        <span asp-validation-for="CurrentJob.Contractor" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="CurrentJob.CityID" class="col-sm-2 col-form-label"></label>
    <div>
        <city-select selected-value="@Model.CurrentJob.CityID" asp-for="CurrentJob.CityID"></city-select>
        <span asp-validation-for="CurrentJob.CityID" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="CurrentJob.FireCodeID" class="col-sm-2 col-form-label"></label>
    <div>
        <fire-code-select selected-value="@Model.CurrentJob.FireCodeID" asp-for="CurrentJob.FireCodeID"></fire-code-select>
        <span asp-validation-for="CurrentJob.FireCodeID" class="text-danger"></span>
    </div>
</div>