@model JobsListViewModel
@{
    ViewBag.Title = "Jobs";
    Layout = "_AdminLayoutWO";
}
<div class="row" style="padding-left:20px">
    <h2 class="col-sm-10">
        Jobs List
    </h2>
</div>
<br />
<div class="btn-group" style="padding-right:50px;">
    <a class="btn btn-info col-sm-" asp-action="JobSearchList" asp-controller="Job" style="padding-top:10px;min-width:100px">
        <i class="fa fa-search" aria-hidden="true"></i>
        Job Search List
    </a>
    <a class="btn btn-success  col-sm-2" asp-action="NewJob" asp-controller="Job" style="padding-top:10px;min-width:100px">
        <i class="fa fa-plus"></i>
        New Job
    </a>
</div>
<br /><br />
@foreach (var j in Model.Jobs)
{
    @Html.Partial("JobSummary", j)
}

<div page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-secondary"
     page-class-selected="btn-primary" page-url-jobType="@Model.CurrentJobType"
     class="btn-group pull-right m-1">
</div>
