@model ProdFloor.Models.ViewModels.Job.JobSearchViewModel
@{
    ViewBag.Title = "Jobs";

    <script src="~/Scripts/CascadingCountryStateCitySearch.js" type="text/javascript"></script>
    <script src="~/Scripts/CascadingStyleBrandDoorOperator.js" type="text/javascript"></script>
    <script src="~/Scripts/CascadingJobType.js" type="text/javascript"></script>
}
<br />
<form asp-controller="Job" asp-action="List" method="get">
    @Html.Partial("JobSearchForm", Model)
</form>
<div class="text-right m-2">
    <form asp-action="SeedXML" asp-controller="Job" method="post">
        @if (Model.JobTotalCount == 0)
        {
            <button type="submit" name="buttonImportXML" value="All" class="btn btn-danger btn-sm">Import All Jobs from XML <i class="fas fa-file-alt"></i></button>
        }
    </form>
</div>
@if (Model.JobsSearchList.Count > 0)
{
    @Html.Partial("JobSummary", Model)

    <coool-pagination-job-search page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
                                 page-class="btn" page-class-normal="btn-secondary"
                                 page-class-selected="btn-dark"
                                 class="btn-group pull-right m-1">
    </coool-pagination-job-search>
}
else
{
    <label>Job(s) Not Found</label>
}
@if (Model.JobsSearchList.Count() > 0)
{
    <div>
        <form asp-controller="Job" asp-action="ExportJobToXML" method="post">
            <button class="btn btn-sm" name="buttonXML" value="All" style="background-color:steelblue;color:white">Export All Jobs to an XML File</button>
        </form>
    </div>
}
