@model ProdFloor.Models.ViewModels.Job.JobElementHydroViewModel
<input type="hidden" asp-for="CurrentJob.JobID" />
<input type="hidden" asp-for="CurrentJob.Status" />
<input type="hidden" asp-for="CurrentJob.EngID" />
<div class="container-fluid">
    <div class="row">
        <div class="col justify-content-md-center">
            <div class="btn-group">
                <button asp-action="NextFormHydro" type="submit" value="AddSF" name="buttonAction" class="btn btn-success btn-sm ">
                    <i class="fa fa-plus"></i>&nbsp; Special Feature
                </button>
                <button id="btnAllSteps" class="btn btn-dark" type="button" title="Special Feature List" data-toggle="collapse" data-target="#collapseCustom" aria-expanded="false" aria-controls="collapseCustom" style="float:left">
                    <i class="fas fa-question-circle"></i>
                </button>
            </div>
            <div class="table-responsive">
                <table class="table form-control">
                    <thead>
                        <tr>
                            <th style="text-align:center;width:100%">Description</th>
                        </tr>
                    </thead>

                    <tbody style="text-align:">
                        @for (int i = 0; i < Model.SpecialFeatureslist.Count; i++)
                        {
                            <tr>
                                <td>
                                    <input type="hidden" asp-for="SpecialFeatureslist[i].SpecialFeaturesID" value="@Model.SpecialFeatureslist[i].SpecialFeaturesID" />
                                    <input type="hidden" asp-for="SpecialFeatureslist[i].JobID" />
                                    @Html.TextBoxFor(m => m.SpecialFeatureslist[i].Description, new { Class = "form-control col-sm-2;", Style = "text-align:center;" })
                                </td>
                                <td style="text-align:center;">
                                    @if (Model.CurrentJob.Status != "Incomplete")
                                    {
                                        <form asp-action="DeleteSFHydro" method="post">
                                            <input type="hidden" asp-for="CurrentJob.JobID" />
                                            <input type="hidden" name="fieldID" value="@Model.SpecialFeatureslist[i].SpecialFeaturesID" />
                                            <input type="hidden" name="returnUrl" value="\Job\Edit\@Model.SpecialFeatureslist[i].JobID" />
                                            <button type="submit" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin") ? false : true)" class="btn btn-danger btn-sm">
                                                <i class="fa fa-minus-circle"></i>
                                            </button>
                                        </form>
                                    }

                                </td>

                            </tr>

                        }
                    </tbody>

                </table>

            </div>
        </div>
        <div class="col-4">
            <div class="collapse" id="collapseCustom">
                <div style="overflow-y:scroll;height:70vh;">
                    <div class="card card-body">
                        <table class="table table-sm text-center align-content-center table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th colspan="2">
                                        Special Features for HMC-2000
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        Prod Floor "Special Feature"
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        1 HOISTWAY 2 MACHINE ROOMS
                                    </td>
                                    <td>
                                        Duplex job with a single hoistway and 2 separate machine rooms
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        2 HOISTWAYS 1 MACHINE ROOM
                                    </td>
                                    <td>
                                        Duplex job with 2 separate hoistways and a single machine room
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        2 HOISTWAYS 2 MACHINE ROOMS
                                    </td>
                                    <td>
                                        Duplex job with 2 separate machine rooms and hoistways
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        24VAC FIRE SENSORS
                                    </td>
                                    <td>
                                        24VAC Fire Sensors
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        24VAC FIRE SENSORS (DELTA-BECKWITH)
                                    </td>
                                    <td>
                                        24VAC Fire Sensors (Delta-Beckwith variation)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        AIR CONDITIONER
                                    </td>
                                    <td>
                                        Enclosure needs air conditioner installed
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        ANNUNCIATOR PANEL
                                    </td>
                                    <td>
                                        Attendant Service with Annunciator Panel
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        BATTERY LOWERING LIGHT
                                    </td>
                                    <td>
                                        Elevator IS running on battery indicator light
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        BROWNOUT
                                    </td>
                                    <td>
                                        Brownout Protection
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        CAR CALLS IN CONTROLLER
                                    </td>
                                    <td>
                                        Car call buttons in the controller
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        CUSTOMER SUPPLIED STARTER
                                    </td>
                                    <td>
                                        Customer will supply the motor starter
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        DEUM PI
                                    </td>
                                    <td>
                                        MAD's Mattisse/Deum Position Indicators
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        DOOR OPEN LIGHT
                                    </td>
                                    <td>
                                        Door is Open indicator light
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        DOOR POWER SW.
                                    </td>
                                    <td>
                                        Door Power Enable Switch
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        EP-OVL
                                    </td>
                                    <td>
                                        Emergency Power Overlay
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        EXTENDED SHAFT CARTOP INSPECTION
                                    </td>
                                    <td>
                                        Extended Shaft Cartop Inspection Station
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        FORCED AIR COOLING
                                    </td>
                                    <td>
                                        Enclosure needs forced air cooling (fans) installed
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        GFCI
                                    </td>
                                    <td>
                                        GFCI outlet in controller
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        GFCI+LIGHT
                                    </td>
                                    <td>
                                        GFCI outlet and Lighting fixture in controller
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        GUNN DOOR OPEN LIGHT
                                    </td>
                                    <td>
                                        Custom Dual Door Open Lights (For GUNN consultants)
                                    </td>

                                <tr>
                                    <td>
                                        HAPS INTERFACE
                                    </td>
                                    <td>
                                        Interface for the HAPS board
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        HML W/7DAY TIMER
                                    </td>
                                    <td>
                                        Parking Enable with 7 day timer
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        LIGHT
                                    </td>
                                    <td>
                                        Lighting fixture in  controller
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        MEI OIL COOLER
                                    </td>
                                    <td>
                                        MEI Single Phase Oil Cooler
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        MELINA PANEL
                                    </td>
                                    <td>
                                        Mitsubishi's Melina Panel Interface
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        MELINA/MELEYE
                                    </td>
                                    <td>
                                        Mitsubishi's Melina/Meleye Panel Interface
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        NAVFAC REQUIREMENTS
                                    </td>
                                    <td>
                                        Job has NAVFAC requirements (flashing fire light, etc.)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        NORMAL POWER LIGHT
                                    </td>
                                    <td>
                                        Elevator IS NOT running on battery indicator light
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        PRIORITY SERVICE

                                    </td>
                                    <td>
                                        Priority Service
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        RB2 INTERFACE
                                    </td>
                                    <td>
                                        Interface for the R&R RB2 board
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        REMOTE COP
                                    </td>
                                    <td>
                                        External CPI board used for lobby security
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        SABBATH
                                    </td>
                                    <td>
                                        Sabbath operation
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        SABBATH W/7DAY TIMER
                                    </td>
                                    <td>
                                        Sabbath operation with 7 day timer
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        SET/RESET: HW 207-RS
                                    </td>
                                    <td>
                                        Hollister-Whitney 207-RS Governor Set/Reset Interface
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        SET/RESET: HW 211
                                    </td>
                                    <td>
                                        Hollister-Whitney 211 Governor Set/Reset Interface
                                    </td>

                                <tr>
                                    <td>
                                        SET/RESET: WITTUR OL-35
                                    </td>
                                    <td>
                                        Wittur OL-35 Governor Set/Reset Interface
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        SHORT FLOOR (INTERMEDIATE & TERMINAL)
                                    </td>
                                    <td>
                                        There are short floors located both in intermediate and in terminal landings
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        SHORT FLOOR (INTERMEDIATE)
                                    </td>
                                    <td>
                                        A short floor is located between intermediate landings
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        SHORT FLOOR (TERMINAL)
                                    </td>
                                    <td>
                                        A short floor is located between a terminal and the next (or previous) landing
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        SURGE SUPPRESSOR
                                    </td>
                                    <td>
                                        Surge Suppressor
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        TFT760 PI
                                    </td>
                                    <td>
                                        Vega's TFT760 Position Indicators
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        TOUCHSAFE
                                    </td>
                                    <td>
                                        Job needs touchsafe features (acrylic panels) to be installed inside the controller
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        TRAVEL CABLE
                                    </td>
                                    <td>
                                        MCE Travel cable was sold
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        WANDERING SECURITY
                                    </td>
                                    <td>
                                        Wandering (Bracelet) security
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>
