@model JobTypesListViewModel
@{
    ViewBag.Title = "Job Types";
    Layout = "_AdminLayoutWO";
}
<div class="row" style="padding-right:20px">
    <h2 class="col-sm-10">
        Job Types List
    </h2>
    <a class="btn btn-success btn-sm col-sm-2" asp-action="Add" asp-controller="JobType" style="padding-top:10px;min-width:100px">
        <i class="fa fa-plus"></i>
        New Job Type
    </a>
</div>
@foreach (var j in Model.JobTypes)
{
    @Html.Partial("JobTypeSummary", j)
}

<page-doorop page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-secondary"
     page-class-selected="btn-primary"
     class="btn-group pull-right m-1">
</page-doorop>
