@model ProdFloor.Models.ViewModels.Reasons.ReasonViewModel
@{
    ViewBag.Title = "Reason 1";
    Layout = "_AdminLayoutWO";
    <script>
        $(document).ready(function () {
            $('#filtrado').autocomplete({
                source: '/Reasons/SearchR1'
            });
        });
    </script>
}
<div class="row" style="padding-right:20px">
    <h2 class="col-sm-10">
        Reasons 1 List
    </h2>
    <form asp-action="Add" asp-controller="Reasons" method="get">
        <button class="btn btn-success" name="AddR" value="R1" style="background-color:dodgerblue;padding-top:10px;min-width:150px">
            <i class="fa fa-plus"></i>
            New Reason 1
        </button>
    </form>
</div>
<form asp-action="SeedXML" asp-controller="Reasons" method="post">
    @if (Model.Reasons1.Count() == 0)
    {
        <button type="submit" name="buttonImportXML" value="All" class="btn btn-danger btn-sm">Import All Jobs from XML <i class="fas fa-file-alt"></i></button>
    }
</form>
<br />
<form asp-controller="Reasons" asp-action="Reason1List" method="get">
    <div class="input-group">
        <input type="text" class="form-control form-control-sm col-5" name="filtrado" id="filtrado" placeholder=" Please enter a reason">
        <div class="input-group-append">
            <div class="btn-group">
                <button class="btn btn-dark" type="submit" value="Search">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
                <button class="btn btn-dark" type="submit" name="Sort" value="default">
                    <i class="fas fa-undo" aria-hidden="true"></i>
                </button>
            </div>
        </div>

    </div>
</form>
@foreach (var j in Model.Reasons1)
{
    @Html.Partial("Reason1Summary", j)
}
@if (Model.Reasons1.Count > 0)
{
<coool-pagination-searh-all page-model="@Model.PagingInfo" page-action="Reason1List" page-classes-enabled="true"
                            page-class="btn" page-class-normal="btn-secondary" sort="Sort"
                            page-class-selected="btn-dark"
                            class="btn-group pull-right m-1">
</coool-pagination-searh-all>
}
<br />
<br />
<br />
