@model Reason1
<div class="card card-outline-primary m-1 p-1">
    <div class="bg-faded p-1">
        <h4>
            @Model.Description
        </h4>
    </div>
    <div class="card-text p-1">
        <form asp-action="Delete" method="post">
            <button asp-action="Edit" class="btn btn-sm btn-warning"
               asp-route-Id="@Model.Reason1ID">
                Edit
            </button>
            <input type="hidden" name="btn" value="R1"/>
            <button type="submit" name="ID" value="@Model.Reason1ID" class="btn btn-danger btn-sm">
                Delete
            </button>
        </form>
    </div>
</div>
