@model ProdFloor.Models.ViewModels.Reasons.ReasonViewModel
@{
    ViewBag.Title = "Reason 1";
    Layout = "_AdminLayoutWO";
}
<div class="row" style="padding-right:20px">
    <h2 class="col-sm-10">
        Reasons 1 List
    </h2>
    <form asp-action="Add" asp-controller="Reasons" method="get">
        <button class="btn btn-success" name="AddR" value="R1" style="background-color:dodgerblue;padding-top:10px;min-width:150px">
            <i class="fa fa-plus"></i>
            New Reason 1
        </button>
    </form>
</div>
<form asp-action="SeedXML" asp-controller="Reasons" method="post">
    @if (Model.Reasons1.Count() == 0)
    {
        <button type="submit" name="buttonImportXML" value="All" class="btn btn-danger btn-sm">Import All Jobs from XML <i class="fas fa-file-alt"></i></button>
    }
</form>
<br />
@foreach (var j in Model.Reasons1)
{
    @Html.Partial("Reason1Summary", j)
}
<br />
@if (Model.Reasons1.Count > 0)
{
    <coool-pagination-all page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
                          page-class="btn" page-class-normal="btn-secondary" reason-number="1"
                          page-class-selected="btn-dark"
                          class="btn-group pull-right m-1">
    </coool-pagination-all>
}
