@model ProdFloor.Models.ViewModels.Reasons.ReasonViewModel
@{
    ViewBag.Title = "Reason 1";
    <script>
        $(document).ready(function () {
            $('#filtrado').autocomplete({
                source: '/Reasons/SearchR1'
            });
        });
    </script>
}
<form asp-action="SeedXML" asp-controller="Reasons" method="post">
    @if (Model.Reasons1.Count() == 0)
    {
        <button type="submit" name="buttonImportXML" value="All" class="btn btn-danger btn-sm">Import All Jobs from XML <i class="fas fa-file-alt"></i></button>
    }
</form>
<br />
<form asp-controller="Reasons" asp-action="Reason1List" method="get">
    <div class="input-group">
        <input type="text" class="form-control form-control-sm col-5" name="filtrado" id="filtrado" placeholder=" Please enter a reason 1">
        <div class="input-group-append">
            <div class="btn-group">
                <button class="btn btn-dark" type="submit" value="Search" data-tooltip="tooltip" data-placement="top" title="Search">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
                <button class="btn btn-dark" type="submit" name="Clean" value="true" data-tooltip="tooltip" data-placement="top" title="Search">
                    <i class="fas fa-undo" aria-hidden="true"></i>
                </button>
                <a class="btn btn" style="background-color:seagreen;color:white" asp-route-AddR="R1" asp-action="Add" asp-controller="Reasons" data-tooltip="tooltip" data-placement="top" title="Add new reason">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>

    </div>
</form>
@foreach (var j in Model.Reasons1)
{
    @Html.Partial("Reason1Summary", j)
}
@if (Model.Reasons1.Count > 0)
{
<coool-pagination-search page-model="@Model.PagingInfo" page-action="Reason1List" page-classes-enabled="true"
                         page-class="btn" page-class-normal="btn-secondary"
                         page-class-selected="btn-dark"
                         class="btn-group pull-right m-1">
</coool-pagination-search>
}
<br />
<br />
<br />
