@model DashboardIndexViewModel
@{
    ViewBag.Title = "ProdFloor";
    Layout = "_AdminLayoutWO";

}
<h2 class="col-sm-10">
    Engineer Dashboard
</h2>
<div class="row float-right" style="padding-right:20px">
    <div class="text-center">
        <div class="btn-group text-center">
            <form asp-action="NewJob" asp-controller="Job" method="get">
                <button type="button" class="btn dropdown-toggle" style="padding-top:10px;min-width:100px;background-color:dodgerblue;color:white" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-plus"></i>Add New Job
                </button>
                <div class="dropdown-menu">
                    <button type="submit" name="JobType" value="M2000" class="dropdown-item" style="margin-right:40px">M2000</button>
                    <button type="submit" name="JobType" value="ElmHydro" class="dropdown-item" style="margin-right:40px">Element Hydro</button>
                    <button type="submit" name="JobType" value="ElmTract" class="dropdown-item">Element Traction</button>
                </div>
            </form>
        </div>
    </div>
</div>
<br />
@if (Model.MyJobs != null)
{
    @Html.Partial("OngoingJobs", Model)
}
<br />
@if (User.IsInRole("CrossApprover"))
{
    @if (Model.OnCrossJobs != null)
    {
        @Html.Partial("OngoingCrossApprovals", Model)
    }
    <br />
    @if (Model.OnCrossJobs != null)
    {
        @Html.Partial("PendingCrossApprovals", Model)
    }
}