@model DashboardIndexViewModel
@{
    ViewBag.Title = "Morning Dashboard";
    Layout = "_AdminLayoutWO";
}
<br />
<form asp-action="MorningReport" method="post">
    @if (Model.MyJobs != null)
    {
        @Html.Partial("OngoingJobsMorning", Model)
    }
</form>
