@model ProdFloor.Models.ViewModels.DashboardIndexViewModel
@{
    ViewBag.Title = "Search Job";

}
<br />
<form asp-controller="Home" id="Printableform" asp-action="SearchByPO" method="post">
    <label class="col-form-label">Por favor introduzca un PO:</label>
    <div class="input-group">
        <input type="number" class="form-control form-control-sm col-3" id="POSearch" asp-for="POJobSearch">
        <div class="input-group-append">
            <div class="btn-group text-center">
                <button class="btn btn-dark" type="submit" value="Search" data-tooltip="tooltip" data-placement="top" title="Search">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <br />
    <div>
        <span asp-validation-for="POJobSearch" class="text-danger"></span><br />
    </div>
</form>
