@model DashboardIndexViewModel
@{
    ViewBag.Title = "ProdFloor";
    Layout = "_AdminLayoutWO";
}
<h2 class="col-sm-10">
    Test Jobs Dashboard
</h2>
<div class="row float-right" style="padding-right:20px">

    <div class="btn-group float-right">
        <a class="btn btn-success" asp-action="NewTestJob" asp-controller="TestJob">
            <i class="fa fa-plus"></i>
            New Test Job
        </a>
    </div>
</div>
@if (Model.MyJobs != null)
{
    @Html.Partial("OnGoingTestJobs", Model)
}
