@model DashboardIndexViewModel
@{
    ViewBag.Title = "Technician Dashboard";
    Layout = "_AdminLayoutWO";
}
<div class="row float-right" style="padding-right:20px">

    <div class="btn-group float-right">
        <a class="btn btn-dark" asp-action="NewTestJob" asp-controller="TestJob">
            <i class="fa fa-plus"></i>
            New Test Job
        </a>
    </div>
</div>
@Html.Partial("OnGoingTestJobs", Model)

