<ul class="nav nav-pills flex-column" id="accordion" role="tablist">
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="WiringPXP" asp-action="PXPProductionDashboard"><i class="fas fa-map-marked-alt"></i>&nbsp;PXP</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="PXPReason" asp-action="List"><i class="fas fa-clipboard-list"></i>&nbsp;PXP Reasons</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-action="List" asp-controller="Station" asp-route-Page="1"><i class="fas fa-charging-station"></i>&nbsp; Stations</a>
    </li>
</ul>