@model ProdFloor.Models.ViewModels.Reasons.WiringReasonViewModel
@{
    ViewBag.Title = "Reason 2";
}
<br /> 
<form asp-action="Reason2List" asp-controller="WiringReasons" method="get">
    <div id="accordionSearch">
        <div class="card">
            <div class="card-header bg-dark text-center">
                <div class="btn-group" style="float:left">
                    <!--Search and Clean-->
                    <button class="btn btn-dark" style="border-color:transparent" type="submit" value="Search" data-tooltip="tooltip" data-placement="top" title="Search"><i class="fa fa-search" aria-hidden="true"></i></button>
                    <button class="btn btn-dark" style="border-color:transparent" name="CleanFields" type="submit" value="true" data-tooltip="tooltip" data-placement="top" title="Clean"><i class="fas fa-undo"></i></button>
                </div>
                <div class="btn-group">
                    <!--Header Info-->
                    <button type="button" id="headingJobInfo" class="btn btn-dark" style="border-color:transparent" data-toggle="collapse" data-target="#collapseJobInfo" aria-expanded="true" aria-controls="collapseJobInfo">
                        <h6 class="mb-0 text-center">Reasons 2 Information</h6>
                    </button>
                </div>
                <div class="btn-group" style="float:right">
                    <a class="btn btn" style="background-color:seagreen;color:white" asp-route-AddR="R2" asp-action="Add" asp-controller="WiringReasons" data-tooltip="tooltip" data-placement="top" title="Add new reason">
                        New Reason 2
                    </a>
                </div>
            </div>
            <!--Body Job Info-->
            <div id="collapseJobInfo" class="collapse" aria-labelledby="headingJobInfo" data-parent="#accordionSearch">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3 border-right">
                            <div class="form-group row" style="margin-bottom:0px;">
                                <label asp-for="WiringReason1ID" class="col-sm-4 col-form-label"></label>
                                <reasons1-select class="form-control form-control-sm col-6" asp-for="WiringReason1ID" selected-value="@Model.WiringReason1ID"></reasons1-select>
                            </div>
                        </div>
                        <div class="col-3 border-right">
                            <div class="form-group row" style="margin-bottom:0px;">
                                <label asp-for="Description" class="col-sm-4 col-form-label"></label>
                                <input type="text" class="form-control col-sm-7" asp-for="Description">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</form>
@foreach (var j in Model.WiringReasons2)
{
    @Html.Partial("WiringReason2Summary", j)
}
@if (Model.WiringReasons2.Count > 0)
{
<coool-pagination-search page-model="@Model.PagingInfo" page-action="Reason2List" page-classes-enabled="true"
                         page-class="btn" page-class-normal="btn-secondary"
                         page-class-selected="btn-dark"
                         class="btn-group pull-right m-1">
</coool-pagination-search>
}
<br />
<br />
<br />
