@model int

@{
    ViewBag.Title = "Error";

    <link type="text/css" rel="stylesheet" href="~/css/404NotFound.css" />

    var statusCode = Model;
    var statusmessage = "";
    switch (statusCode)
    {
        case 400:
            statusmessage = "Bad request: The request cannot be fulfilled due to bad syntax";
            break;
        case 403:
            statusmessage = "Forbidden";
            break;
        case 404:
            statusmessage = "Page not found";
            break;
        case 408:
            statusmessage = "The server timed out waiting for the request";
            break;
        case 500:
            statusmessage = "Internal Server Error - server was unable to finish processing the request";
            break;
        default:
            statusmessage = "That’s odd... Something we didn't expect happened";
            break;
    }

}

<div id="notfound" style="max-height:60%;">
    <div class="notfound-bg"></div>
    <div class="notfound">
        <div class="notfound-404">
            <h1>@Model</h1>
        </div>
        <h4>It's looking like you may have taken a wrong turn. Don't worry... It happens to the best of us.</h4>
        <br />
        <h5>Please go to home page by clicking the button below</h5>
        <a href="/home/index/">
            <span style="font-size: 3em;">
                <i class="fas fa-home"></i>
            </span>
        </a>


    </div>
</div>
